@page
@model BlogModel
@{
    ViewData["Title"] = "Blog";
}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>
        Welcome to my personal blog, here I mainly post a day summary of what I have learnt each day.
        Because I believe it helps me to consolidate any learnings from the day as it offers an opportunity
        to summarise and reflect on any learning right before sleeping.
    </p>
</div>
<div class="row justify-content-center">
    @if (Model.IsAdmin)
    {
        <li class="list-inline-item">
            <a asp-page="/Admin/NewBlogPost"  asp-route-id="" class="btn btn-secondary btn-block">New Blog Post</a>
        </li>
    }
</div>
    <div class="row justify-content-center">
        @foreach (var blogpost in Model.BlogPosts.Reverse())
        {
            <div class="w-75 p-3">
                <div class="card shadow session h-100">
                    <h5 class="card-header">@blogpost.BlogPostTitle</h5>
                    <div class="card-body">
                        <div class="card-title"><a>@blogpost.BlogPostBody</a></div>
                    </div>
                    <div class="card-footer">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a>@blogpost.Author</a>
                            </li>
                            <li class="list-inline-item">
                                <a>@blogpost.BlogPostDate.Date.ToString("dd MMM yyyy")</a>
                            </li>
                            @if (Model.IsAdmin)
                            {
                                <li class="list-inline-item">
                                    <a asp-page="/Admin/EditBlogPost" asp-route-id="@blogpost.ID" class="btn btn-default btn-xs">Edit</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
